* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    color: #222;
    font: 16px/1.5 Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
p,
pre,
ul {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    line-height: 1;
    margin-bottom: 1em;
}

h2 {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 1em;
    margin-top: 10px;
    color: grey;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;

}

h2 span {
    border-bottom: 2px solid #dedede;

}


h3 {
    font-size: 16px;
    line-height: 1;
    margin-bottom: 1em;
}



pre {
    background: #fefefe;
    border: 1px solid #dedede;
    overflow-x: auto;
    padding: 2em;
}

ul {
    margin-left: 1em;
}

/*
#nav {
	left: 20px;
	list-style: none;
	margin: 0;
	position: fixed;
	top: 20px;
}

#nav li {
	margin-bottom: 2px;
}

#nav a {
	background: #ededed;
	color: #666;
	display: block;
	font-size: 14px;
	padding: 5px 10px;
	text-decoration: none;
	text-transform: uppercase;
}
*/
#nav a:hover {
    background: #efcece;
    color: red;
}

#nav .current a {
    background: #d6d4d4;
    color: #191818;
}

.navbar-nav a {
    color: red;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}


#container {
    margin: 0 auto;
    width: 800px;
}

.front {
    padding: 50px 0px;
}

.section {
    border-bottom: 5px solid #ccc;
    min-height: 60vh;
    padding: 80px 20px;
}

.section p:last-child {
    margin-bottom: 0;
}

.mt-4,
.my-4 {
    margin-top: 7.5rem !important;
}

select span {
    color: grey;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

.form-group span {
    color: grey;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

.col-lg-2 a {
    color: grey;
}

.section a:hover {
    text-decoration: none;
    color: red;
}

.col-lg-3 h6 {
    color: #0e0e0e;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

.butt a {
    border: 1px solid #bdb6b6;

    color: #bdb6b6;
    padding: 3px 12px;

}

.butt a:hover {
    background: #efcece;
    color: red;
}

.foot-butt a {
    border: 1px dotted #f53636;
    background: #efcece;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 15px;
    padding: 4px 25px;

}

.foot-butt a:hover {
    border: 1px dotted #f53636;
    background: #efcece;
    color: black;

}
